#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1

CORE_ABIVERSION := $(shell sed -rn 's/^\#define[[:space:]]+CORE_ABIVERSION[[:space:]]+//p' include/compiz-core.h )

INSTALL = /usr/bin/install

# generated via:
#  python -c "import compizconfig; print ','.join(compizconfig.Context().Plugins['core'].Display['active_plugins'].Value)"
PLUGINS1=core,ccp,matecompat,png,svg,video,screenshot
PLUGINS2=decoration,clone,place,fade,minimize,move,resize,switcher,scale,wall,obs

CONF_FLAGS =	--disable-static \
				--disable-fuse \
				--enable-librsvg \
				--enable-gtk \
				--enable-marco \
				--enable-mate \
				--with-default-plugins=$(PLUGINS1),$(PLUGINS2)

DESTDIR := $(CURDIR)/debian/tmp
BINSDIR := $(DESTDIR)/usr/bin
MATEDIR := $(CURDIR)/debian/mate_files

%:
	dh $@ --with autoreconf


override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --sysconfdir=\$${prefix}/share $(CONF_FLAGS)

override_dh_install:

	# install compiz-mate-gtk
	$(INSTALL) -m 0755 $(MATEDIR)/compiz-mate-gtk $(BINSDIR)

	# remove unneeded .la files
	find $(DESTDIR)/usr/lib -type f -name '*.la' -exec rm -f {} ';'

	dh_install --fail-missing

	# libmatecompat is seperately installed in compizfusion-mate package
	rm debian/compizfusion-plugins/usr/lib/compiz/libmatecompat.so
	rm debian/compizfusion-plugins/usr/share/compiz/matecompat.xml
	# core.xml excluded from plugins as it is in core
	rm debian/compizfusion-plugins/usr/share/compiz/core.xml

override_dh_makeshlibs:
	dh_makeshlibs -plibdecorationfusion0 -V'libdecorationfusion0 (>= 0.8.8)'

override_dh_gencontrol:
	dh_gencontrol -- -Vcoreabiversion=$(CORE_ABIVERSION)

